<!DOCTYPE html>
	<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width , initial-scale=1">
		<title>Terms And Conditions</title>

		<!-- css file link -->
		<link rel="stylesheet" type="text/css" href="T&C.css">

		
	</head>
	
	<body>

		<div class="formBox">
		
		<h1>Welcome!</h1>

		<p>You have been shortlisted for the role of UI/UX Intern at Hybrwolabs Technologies. To proceed with the next step of Recruitment procedure, we would like you to attempt a small assessment test which will help us to proceed further.</p>


        <form action="Timer5.html">

           <div class="c1">Name*
             <div class="inputBox">
        	   <input type="text" placeholder="Enter Full name">
             </div>
           </div>  


           <div class="c2">Phone*
             <div class="inputBox">
        	    <input type="phone number" placeholder="Mobile number">
             </div>
           </div> 

           <input type="submit" value="Next >" class="btn"> 

        </form>
    </div>



	</body>	
	</html>